@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
}

body {
    font-family: 'Inter', sans-serif;
    line-height: 1.5;
    letter-spacing: -0.16px;
}

.container {
    @apply w-[90vw] max-w-[1184px] mx-auto;
}

.btn {
    @apply font-bold h-[48px] px-[24px];
    border-radius: 8px;
}
.btn:hover {
    @apply opacity-80;
}
a.btn {
    @apply inline-flex items-center;
}
.btn-primary {
    @apply bg-primary text-white;
}
.btn-outline {
    @apply bg-white text-gray border border-gray-300;
}

.leading-extra {
    line-height: 94px;
}
.welcome::after {
    content: '';
    background: url(./assets/welcome-animation.gif);
    background-repeat: no-repeat;
    background-position: center 100%;
    background-size: 60% auto;
    @apply absolute z-40 top-0 left-0 w-full h-full;
}

.message {
    @apply absolute z-[35] top-[35%] left-[-100%] w-[267px];
}
.message > div {
    @apply bg-primary-400 text-white p-3 rounded-3xl relative z-[38];
}
.message::before {
    @apply absolute  bottom-[1px] right-[-28px] w-[30px] h-[40px] bg-white rounded-full z-[27];
    content: '';
}
.message::after {
    @apply absolute bottom-[-0px] right-[-15px] w-[30px] h-[30px] bg-primary-400 rounded-full border z-[26];
    content: '';
}
@media (min-width: 768px) {
    .post-card.grid {
        grid-template-columns: 268px 1fr;
    }
    .dash-posts .post-card.grid {
        grid-template-columns: 186px 1fr;
    }
}

.dash-posts > ul {
    gap: 60px;
}
